<%- include('includes/head.ejs') %>
 <!-- Google font -->
 <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">
<link rel="stylesheet" href="/css/404.css">
<head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h3>Oops! Page not found</h3>
				<h1><span>4</span><span>0</span><span>4</span></h1>
			</div>
			<h2><%= errorMessage %></h2>
		</div>
	</div>

    <%- include('includes/end.ejs') %>